{% extends 'base.html.twig' %}
{% block title %}dsides{% endblock %}

{% block body %}

<main>

    <div class="container-fluid p-0">
        <div class="row">

            {% for project in projects|filter(project => project.isDisplayed and project.isFeatured) %}
                <div class="col-md-12">
                    {{ include('project/_card_featured.html.twig', {cover: 'cover_420', filter: 'w1600'}) }}
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="container pt-5 pb-5">
        <div class="m-5 pt-5 pb-5">
            <h1 class="text-center">dsides accompagne les projets de transformation et de design du travail</h1>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row g-0">

            {% for project in projects|filter(project => project.isDisplayed and project.isFeatured == 0) %}
            <div class="col-md-4">
                {{ include('project/_card.html.twig', {cover: 'cover_300', filter: 'w800'}) }}
            </div>
            {% endfor %}

        </div>
    </div>
    
</main>

{% endblock %}

{#
TODO: admin, up et down buttons
TODO: admin / editor & édition directe depuis la page si autorisé
#}