{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block body %}
<div class='container'>
	<h1>{{ title }}</h1>
	<section class="container mb-5 py-lg-3 py-xl-4 py-xxl-5 font_main">
		<div class='row g-3 row-cols-1  row-cols-sm-1 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4'>

			<!-- Team classique --->
			<div class="col">
				<div class="card border-0 bg-transparent mx-auto" style="width: 12rem;">
					<img src="{{ asset('uploads/images/portraitTest.jpg') }}" class="card-img-top rounded-top-0"
					     alt="..." />
					<div class="card-body text-center">
						<h6 class="card-title">Dupont Marie - 1</h6>
						<p class="card-text">UX-Designer</p>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
{% endblock %}


