// https://ishadeed.com/article/handling-text-over-image-css/

.cover_160 {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.cover_200 {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.cover_300 {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.cover_380 {
    height: 380px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.cover_400 {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.cover_420 {
    height: 420px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.scrim {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.text_shadow { 
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}