@import "_colors";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import "_fonts_JoannaNova";
@import "_fonts";
@import "_cards";
@import "_buttons";
@import "_layout";

.list-group-item-action:hover {
  cursor: pointer;
}
.imgGrid {
  margin:0 auto;
}

.imgGrid-item {
  width: 160px;
}

.imgGrid-item:hover {
  cursor: pointer;
}

.grid-item--gigante {
  width: 550px;
}
