@import "_colors.scss";
@import "_fonts_JoannaNova.scss";
@import "_fonts.scss";
@import "_cards.scss";
@import "_buttons.scss";
@import "_layout.scss";

@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

.listFooter {
  list-style-type: ">";
}

.list-group-item-action:hover {
  cursor: pointer;
}

.imgGrid-size,
.imgGrid-item {
  width: 25%;
}


.imgGrid-item:hover {
  cursor: pointer;
}
