<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid mx-4 my-3 d-flex align-items-center">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('img/logo_dsides_noir.png') }}" alt="" height="40">
        </a>
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">
                    <i class="fas fa-cog fa-lg"></i>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>