<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mx-4 my-3" href="/">
            <img src="img/logo_dsides_noir.png" alt="" height="40">
        </a>
    </div>
</nav>