{% extends 'base.html.twig' %}
{% block title %}dsides{% endblock %}

{% block body %}

<main>

    <div class="container-fluid p-0">

        {% if topic.name is defined %}
            <div class="m-5">
                <h1>{{ topic.name }}</h1>
            </div>
        {% endif %}

        {% if topic.firstName is defined and topic.lastName is defined %}
        <div class="m-5">
            <h1>{{ topic.firstName }} {{ topic.lastName }}</h1>
        </div>
        {% endif %}
        
        {# TODO: displayName #}

        <div class="row row-cols-1 row-cols-md-3 g-0">
        
            {# {% for project in projects|filter(project => project.isDisplayed) %} #}
            {% for project in projects %}
            <div class="col">
                <div class="card h-100 border-0 rounded-0 bg-black">
                    {{ include('project/_card.html.twig', {cover: 'cover_300', filter: 'w800'}) }}
                </div>
            </div>
            {% endfor %}
        
        </div>

    </div>

</main>

{% endblock %}